<!DOCTYPE html>
<html>

<head>

    {% block stylesheets %}
        {{ encore_entry_link_tags('home') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('home') }}
    {% endblock %}

    <script src="https://kit.fontawesome.com/d69551549e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 

    <title>Dater</title>

</head>

<body>

    <div id="container-flex">
        
        <div id="header">

            <div id="logo">
                <img src={{ asset('build/images/logo.5c68604a.svg') }} alt="logo">
            </div>

            {% if not logged %}
            <div id="login-register">
                <div id="login">
                    <a href="{{ path('app_login') }}">Zaloguj się</a>    
                </div>
                <div id="register">
                    <a href="{{ path('app_register') }}">Zarejestruj się</a>
                </div>    
            </div>
            {% endif %}

            {% if logged %}
            <div id="login-register">

                {% if is_granted('ROLE_ADMIN') %}
                <div id="admin-panel">
                    <a href="{{ path('app_admin_panel')}}">PANEL ADMIN</a>
                </div>
                {% endif %}

                <div class="dropdown">
                    <i class="fa-solid fa-user fa-2xl dropdown-button"></i>
                    <div class="dropdown-content">
                        <a href="#"><i class="fa-solid fa-comment"> </i>Powiadomienia</a>
                        <a href="{{ path('app_profile_main') }}"><i class="fa-solid fa-address-card"> </i>Mój profil</a>
                        <a href="#"><i class="fa-solid fa-gear"></i>Ustawienia konta</a>
                        <a href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket"></i>Wyloguj</a>
                    </div>
                </div>

                {% if logged %}
                <div id="nick">
                    <h3>Witaj {{ user.nick }} !</h3> 
                </div>    
                {% endif %}

            </div>
            {% endif %}
        </div>

        {% if not logged %}
        <div id="content">
            <div id="content-left">
                <img src={{ asset('build/images/home-background1.9432fecc.jpeg')}} alt="logo">
            </div>
            <div id="content-right">
                <div>
                    <h1>TUTAJ BĘDZIE JAKIŚ BARDZO MĄDRY TEKST ALBO JAKIŚ ŁADNA GRAFIKA ALE TO MOŻE KIEDYŚ, ALBO JESZCZE JAKIEŚ INNE GÓWNO.</h1>
                    <h2>No jak będzie to będzie, nie ma co drążyć tematu.</h2>
                    <h2>Zaloguj się albo zrób se konto - tam na górze masz guziczki elo.</h2>
                </div>
            </div>
        </div>
        {% endif %}

        {% if logged %}
        <div id="profiles">
            PROFILE
        </div>
        {% endif %}

        <div id="footer">
            <div id="footer-social">
                <h3>Odwiedź:</h3>
                <a href="#">Tinder</a>
                <a href="#">Badoo</a>
                <a href="#">Fotka</a>
            </div>
            <div id="footer-reg">
                <h3>Serwis:</h3>
                <a href="#">Zaloguj</a>
                <a href="#">Utwórz konto</a>
            </div>
            <div id="footer-contact">
                <h3>Kontakt:</h3>
                <p>Email: robertblaszak1@gmail.com</p>
            </div>
        </div>
        
    </div>
    
</body>

</html>